<h1>
    <center>Meeting from 23.05.2022</center>
</h1>
<h2>From: 23.05.2022</h2>
<h2>Summary: None</h2>
<h2> Transcript: </h2>
<p>0:00:00.979000 <strong>Fedor:</strong> Слушай странно потому что у тебя мейл дарья кук собака мейл да ведь и
    сама</p>
<p>0:00:07.619000 <strong>Fedor:</strong> В стаканном действии как редактор выставленного</p>
<p>0:00:16.509000 <strong>Darya:</strong> Странно</p>
<p>0:00:22.539000 <strong>Darya:</strong> Моя почта</p>
<p>0:00:25.609000 <strong>Fedor:</strong> А да скинь в беседу</p>
<p>0:00:29.219000 <strong>Fedor:</strong> Скинь в чат твой мейл я тебя добавлю в редактора презентации</p>
<p>0:00:36.249000 <strong>Fedor:</strong> Везде</p>
<p>0:00:43.279000 <strong>Darya:</strong> Марина привет так</p>
<p>0:00:45.849000 <strong>Fedor:</strong> Привет марина</p>
<p>0:00:51.769000 <strong>Fedor:</strong> Так даш я тебя добавил и сейчас добавлю в русскую версию</p>
<p>0:00:56.169000 <strong>Fedor:</strong> Презентация там</p>
<p>0:00:57.569000 <strong>Fedor:</strong> А ты уже должна быть</p>
<p>0:01:04.159000 <strong>Fedor:</strong> Что</p>
<p>0:01:05.039000 <strong>Darya:</strong> Я сюда попала</p>
<p>0:01:09.569000 <strong>Darya:</strong> А ты как редактор можешь там редактировать лишнее и</p>
<p>0:01:17.620000 <strong>Fedor:</strong> В любом случае должен я тебе дал дарья кук через кик короче</p>
<p>0:01:23.039000 <strong>Fedor:</strong> Вот так что я тебя должна все работать</p>
<p>0:01:26.609000 <strong>Fedor:</strong> Через</p>
<p>0:01:33.269000 <strong>Fedor:</strong> Вот и другие там ссылочки можешь тоже пощелкать посмотреть что там есть
</p>
<p>0:01:38.019000 <strong>Fedor:</strong> Если где то еще нужно будет доступ то напишешь я дам вот это получается
    исходники презентации на кукловской</p>
<p>0:01:46.490000 <strong>Fedor:</strong> Вот и ну</p>
<p>0:01:49.300000 <strong>Fedor:</strong> Редактируемая</p>
<p>0:01:51.170000 <strong>Fedor:</strong> Чтобы все тоже был доступ</p>
<p>0:01:54.699000 <strong>SPEAKER_01:</strong> Да давайте я тогда перейду к следующему разряду и мы развернется идем к
    ра</p>
<p>0:02:17.959000 <strong>Fedor:</strong> Так марин как у тебя успехи как дела</p>
<p>0:02:21.200000 <strong>Marina:</strong> Да привет в общем я не смогла в итоге запустить вот сможем сегодня пока
    тут покатануть по поводу этой ошибки</p>
<p>0:02:35.163000 <strong>Fedor:</strong> Да давай у меня идеи просто на самом деле</p>
<p>0:02:40.780000 <strong>Fedor:</strong> Ну просто отказаться от</p>
<p>0:02:42.610000 <strong>Fedor:</strong> Эфасон пьега вот этого</p>
<p>0:02:44.459000 <strong>Fedor:</strong> Ну короче от этой реализации потому что ну раз там по сути ничего
    сложного нет</p>
<p>0:02:48.979000 <strong>Fedor:</strong> У нас там надо 1 формат перегнать в другой в гугле</p>
<p>0:02:54.419000 <strong>Fedor:</strong> Да и все собственно на самом деле это это можно сделать даже через
    консоли финпега</p>
<p>0:03:01.029000 <strong>Fedor:</strong> Я прям вот ну руками это могу сделать и проверить что дальше работает или
    нет как бы</p>
<p>0:03:08.399000 <strong>Fedor:</strong> Ну там скорее всего она не будет работать из за того что яндекс эпиключ
    вышел с действия но давай прям сейчас</p>
<p>0:03:17.619000 <strong>Fedor:</strong> Ну а пи ключ для яндекс спички это возможно вышел из действия</p>
<p>0:03:23.879000 <strong>Fedor:</strong> Я просто сейчас знаешь в чем</p>
<p>0:03:26.090000 <strong>Fedor:</strong> Не его покупать не надо на новый скорее новый год</p>
<p>0:03:30.669000 <strong>Fedor:</strong> Я скорее всего сейчас возьму у меня есть тест 1 мп 3</p>
<p>0:03:35.299000 <strong>Fedor:</strong> А просто возьму его приведу в нужный формат</p>
<p>0:03:38.669000 <strong>Darya:</strong> Угу</p>
<p>0:03:42.299000 <strong>Fedor:</strong> И попробую просто в коде отправить яндекс</p>
<p>0:03:49.010000 <strong>Fedor:</strong> Супер</p>
<p>0:03:50.879000 <strong>Fedor:</strong> Вот если это типа окей дальше все там работает</p>
<p>0:03:53.899000 <strong>Fedor:</strong> То мы просто думаем ну типа</p>
<p>0:03:57.839000 <strong>Fedor:</strong> Как просто конвертную да да как конвертную сейчас только мне надо сначала
</p>
<p>0:04:02.609000 <strong>Fedor:</strong> Вообще можно конвертность просто на прямую вот если у тебя в папке лежит
    эф эм пэк и ты через командную строку обращаешься к этому бегу</p>
<p>0:04:10.799000 <strong>Fedor:</strong> То просто ну там это 1 команда конвертнуть просто там в питоне там это
    обертка над командами к этому к этой штуке</p>
<p>0:04:20.789000 <strong>Fedor:</strong> Вот я просто работал с экселем бегом уже я писал к нему обертку на тот
    найт</p>
<p>0:04:29.109000 <strong>Marina:</strong> Прикольно</p>
<p>0:04:34.769000 <strong>Marina:</strong> Так а какая команда там в умпеге конвертит</p>
<p>0:04:38.819000 <strong>Fedor:</strong> Не помнишь а так эф эф эм пэк но сейчас я скину просто по телеграмм вот
    скину</p>
<p>0:04:54.739000 <strong>Fedor:</strong> Я сейчас это сразу же попробую</p>
<p>0:05:03.569000 <strong>Darya:</strong> Сейчас секундочку я на минутку давай давай удаляет слайды из презентаций
    потому что там будет много полезных слайдов которые мы можем просто перерисовывать там ближе к команде сравнение с
    конкурентами и так далее</p>
<p>0:05:19.149000 <strong>Fedor:</strong> А мой руки хорошо</p>
<p>0:05:22.860000 <strong>Fedor:</strong> Так</p>
<p>0:05:58.269000 <strong>Darya:</strong> А меня сейчас видно</p>
<p>0:06:02.729000 <strong>Fedor:</strong> Да авито</p>
<p>0:06:04.060000 <strong>Fedor:</strong> Ну ты зависла</p>
<p>0:06:06.119000 <strong>Fedor:</strong> Видео</p>
<p>0:06:09.640000 <strong>Fedor:</strong> Да давай</p>
<p>0:06:16.629000 <strong>SPEAKER_01:</strong> Так</p>
<p>0:06:41.856000 <strong>Darya:</strong> Сейчас я его перезагружу и вернусь</p>
<p>0:06:45.469000 <strong>Fedor:</strong> Давай</p>